In [15]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')
df3 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja3')
df4 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja4')

print(df1)
print(df2)
print(df3)
print(df4)

   id                    auto  ratio  tipooctanaje  kilometraje
0   1        CAMIONETA NISSAN    5.0            90          500
1   2     AUTO TOYOTA COROLLA    3.5            90           50
2   3  CAMIONETA HYLUX TOYOTA    9.5            98          100
3   4   PICK UP NISSAN NAVARA    8.0            98         1000
   id  octanaje  precio_octanaje
0   1        90             13.3
1   2        98             16.6
2   3        85             10.0
   id  year  month  day  kilometraje
0   1  2020      8   14          500
1   2  2020      8   14           50
2   3  2020      8   14          100
3   4  2020      8   14         1000
4   1  2020      8   15          100
5   2  2020      8   15          500
6   3  2020      8   15          150
7   4  2020      8   15            0
   id  year  month  day  precio_octanaje
0   1  2020      8   14             13.3
1   2  2020      8   14             16.6
2   3  2020      8   14             10.0
3   1  2020      8   15             14.0
4   2  2020      8   15             16.0
5   3  2020      8   15              9.5

In [2]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')
sumatoria = 0
for i, row in df1.iterrows():
    print(row[1])
    consumo_de_combustible = row[2] * row[4]/100
    print("consumo_de_combustible  gl. :", consumo_de_combustible)
    
    xoctanaje = row[3]
    precio_octanaje_vehiculo = 0
    for j, row2 in df2.iterrows():    
        if xoctanaje == row2[1]:
            precio_octanaje_vehiculo = row2[2]

    precio_de_combustible = consumo_de_combustible * precio_octanaje_vehiculo
    print("precio_de_combustible  PEN/SOL :", precio_de_combustible)
    
    sumatoria = sumatoria + precio_de_combustible
    
print("\nsumatoria PEN/SOL:",sumatoria)

CAMIONETA NISSAN
consumo_de_combustible  gl. : 25.0
precio_de_combustible  PEN/SOL : 332.5
AUTO TOYOTA COROLLA
consumo_de_combustible  gl. : 1.75
precio_de_combustible  PEN/SOL : 23.275000000000002
CAMIONETA HYLUX TOYOTA
consumo_de_combustible  gl. : 9.5
precio_de_combustible  PEN/SOL : 157.70000000000002
PICK UP NISSAN NAVARA
consumo_de_combustible  gl. : 80.0
precio_de_combustible  PEN/SOL : 1328.0

sumatoria PEN/SOL: 1841.475

In [6]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')
df3 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja3')
df4 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja4')

sumatoria_precio_total = 0

for i, row in df1.iterrows():
    print(row[1])
    kilometraje = row[4]
    consumo_de_combustible = row[2] * kilometraje/100
    for j, row3 in df3.iterrows():
        print(row3[4])
        
    print("consumo_de_combustible  gl. :", consumo_de_combustible)
    
    xoctanaje = row[3]
    precio_octanaje_vehiculo = 0
    for j, row2 in df2.iterrows():    
        if xoctanaje == row2[1]:
            precio_octanaje_vehiculo = row2[2]

    precio_de_combustible = consumo_de_combustible * precio_octanaje_vehiculo
    print("precio_de_combustible  PEN/SOL :", precio_de_combustible)
    
    sumatoria_precio_total = sumatoria_precio_total + precio_de_combustible
    
print("\sumatoria_precio_total PEN/SOL:",sumatoria_precio_total)

CAMIONETA NISSAN
500
50
100
1000
0
500
150
0
consumo_de_combustible  gl. : 25.0
precio_de_combustible  PEN/SOL : 332.5
AUTO TOYOTA COROLLA
500
50
100
1000
0
500
150
0
consumo_de_combustible  gl. : 1.75
precio_de_combustible  PEN/SOL : 23.275000000000002
CAMIONETA HYLUX TOYOTA
500
50
100
1000
0
500
150
0
consumo_de_combustible  gl. : 9.5
precio_de_combustible  PEN/SOL : 157.70000000000002
PICK UP NISSAN NAVARA
500
50
100
1000
0
500
150
0
consumo_de_combustible  gl. : 80.0
precio_de_combustible  PEN/SOL : 1328.0
\sumatoria_precio_total PEN/SOL: 1841.475

In [8]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')
df3 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja3')
df4 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja4')

sumatoria_precio_total = 0

for i, row in df1.iterrows():
    print(row[1])
    kilometraje = row[4]
    consumo_de_combustible = row[2] * kilometraje/100
    for j, row3 in df3.iterrows():
        if row[0] == row3[0]:
            print(row3[4])
        
    print("consumo_de_combustible  gl. :", consumo_de_combustible)
    
    xoctanaje = row[3]
    precio_octanaje_vehiculo = 0
    for j, row2 in df2.iterrows():    
        if xoctanaje == row2[1]:
            precio_octanaje_vehiculo = row2[2]

    precio_de_combustible = consumo_de_combustible * precio_octanaje_vehiculo
    print("precio_de_combustible  PEN/SOL :", precio_de_combustible)
    
    sumatoria_precio_total = sumatoria_precio_total + precio_de_combustible
    
print("\sumatoria_precio_total PEN/SOL:",sumatoria_precio_total)

CAMIONETA NISSAN
500
100
consumo_de_combustible  gl. : 25.0
precio_de_combustible  PEN/SOL : 332.5
AUTO TOYOTA COROLLA
50
500
consumo_de_combustible  gl. : 1.75
precio_de_combustible  PEN/SOL : 23.275000000000002
CAMIONETA HYLUX TOYOTA
100
150
consumo_de_combustible  gl. : 9.5
precio_de_combustible  PEN/SOL : 157.70000000000002
PICK UP NISSAN NAVARA
1000
0
consumo_de_combustible  gl. : 80.0
precio_de_combustible  PEN/SOL : 1328.0
\sumatoria_precio_total PEN/SOL: 1841.475

In [12]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')
df3 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja3')
df4 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja4')

sumatoria_precio_total = 0

for i, row in df1.iterrows():
    print(row[1])
    kilometraje = row[4]
    consumo_de_combustible = row[2] * kilometraje/100
    for j, row3 in df3.iterrows():
        if row[0] == row3[0]:
            print(row3[1],"/",row3[2],"/",row3[3])
            print("kilometraje:",row3[4])
            
            xoctanaje = row[3]
            precio_octanaje_vehiculo = 0
            for j, row2 in df2.iterrows():    
                if xoctanaje == row2[1]:
                    id_hoja2 = row2[0]           

            for k, row4 in df4.iterrows():    
                if id_hoja2 == row4[0]:
                    print("precio_octanaje:",row4[4])     
        
        
    print("consumo_de_combustible  gl. :", consumo_de_combustible)
    


    precio_de_combustible = consumo_de_combustible * precio_octanaje_vehiculo
    print("precio_de_combustible  PEN/SOL :", precio_de_combustible)
    
    sumatoria_precio_total = sumatoria_precio_total + precio_de_combustible
    
print("\sumatoria_precio_total PEN/SOL:",sumatoria_precio_total)

CAMIONETA NISSAN
2020 / 8 / 14
kilometraje: 500
precio_octanaje: 13.3
precio_octanaje: 14.0
2020 / 8 / 15
kilometraje: 100
precio_octanaje: 13.3
precio_octanaje: 14.0
consumo_de_combustible  gl. : 25.0
precio_de_combustible  PEN/SOL : 0.0
AUTO TOYOTA COROLLA
2020 / 8 / 14
kilometraje: 50
precio_octanaje: 13.3
precio_octanaje: 14.0
2020 / 8 / 15
kilometraje: 500
precio_octanaje: 13.3
precio_octanaje: 14.0
consumo_de_combustible  gl. : 1.75
precio_de_combustible  PEN/SOL : 0.0
CAMIONETA HYLUX TOYOTA
2020 / 8 / 14
kilometraje: 100
precio_octanaje: 16.6
precio_octanaje: 16.0
2020 / 8 / 15
kilometraje: 150
precio_octanaje: 16.6
precio_octanaje: 16.0
consumo_de_combustible  gl. : 9.5
precio_de_combustible  PEN/SOL : 0.0
PICK UP NISSAN NAVARA
2020 / 8 / 14
kilometraje: 1000
precio_octanaje: 16.6
precio_octanaje: 16.0
2020 / 8 / 15
kilometraje: 0
precio_octanaje: 16.6
precio_octanaje: 16.0
consumo_de_combustible  gl. : 80.0
precio_de_combustible  PEN/SOL : 0.0
\sumatoria_precio_total PEN/SOL: 0.0

In [13]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')
df3 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja3')
df4 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja4')

sumatoria_precio_total = 0

for i, row in df1.iterrows():
    print(row[1])
    kilometraje = row[4]
    consumo_de_combustible = row[2] * kilometraje/100
    for j, row3 in df3.iterrows():
        if row[0] == row3[0]:
            print(row3[1],"/",row3[2],"/",row3[3])
            print("kilometraje:",row3[4])
            
            xoctanaje = row[3]
            precio_octanaje_vehiculo = 0
            for j, row2 in df2.iterrows():    
                if xoctanaje == row2[1]:
                    id_hoja2 = row2[0]           

            for k, row4 in df4.iterrows():    
                if id_hoja2 == row4[0]:
                    if row3[1] == row4[1] and row3[2] == row4[2] and row3[3] == row4[3]:
                        print("precio_octanaje:",row4[4])     
        
        
    print("consumo_de_combustible  gl. :", consumo_de_combustible)
    


    precio_de_combustible = consumo_de_combustible * precio_octanaje_vehiculo
    print("precio_de_combustible  PEN/SOL :", precio_de_combustible)
    
    sumatoria_precio_total = sumatoria_precio_total + precio_de_combustible
    
print("\sumatoria_precio_total PEN/SOL:",sumatoria_precio_total)

CAMIONETA NISSAN
2020 / 8 / 14
kilometraje: 500
precio_octanaje: 13.3
2020 / 8 / 15
kilometraje: 100
precio_octanaje: 14.0
consumo_de_combustible  gl. : 25.0
precio_de_combustible  PEN/SOL : 0.0
AUTO TOYOTA COROLLA
2020 / 8 / 14
kilometraje: 50
precio_octanaje: 13.3
2020 / 8 / 15
kilometraje: 500
precio_octanaje: 14.0
consumo_de_combustible  gl. : 1.75
precio_de_combustible  PEN/SOL : 0.0
CAMIONETA HYLUX TOYOTA
2020 / 8 / 14
kilometraje: 100
precio_octanaje: 16.6
2020 / 8 / 15
kilometraje: 150
precio_octanaje: 16.0
consumo_de_combustible  gl. : 9.5
precio_de_combustible  PEN/SOL : 0.0
PICK UP NISSAN NAVARA
2020 / 8 / 14
kilometraje: 1000
precio_octanaje: 16.6
2020 / 8 / 15
kilometraje: 0
precio_octanaje: 16.0
consumo_de_combustible  gl. : 80.0
precio_de_combustible  PEN/SOL : 0.0
\sumatoria_precio_total PEN/SOL: 0.0

In [14]:
import pandas as pd
df1 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja1')
df2 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja2')
df3 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja3')
df4 = pd.read_excel (r'autos.xlsx', sheet_name='Hoja4')

sumatoria_precio_total = 0

for i, row in df1.iterrows():
    print(row[1])
    
    kilometraje = 0
    consumo_de_combustible = 0
    
    for j, row3 in df3.iterrows():
        if row[0] == row3[0]:
            print(row3[1],"/",row3[2],"/",row3[3])
            print("kilometraje:",row3[4])
            kilometraje = row3[4]
            
            xoctanaje = row[3]
            precio_octanaje_vehiculo = 0
            for j, row2 in df2.iterrows():    
                if xoctanaje == row2[1]:
                    id_hoja2 = row2[0]           

            for k, row4 in df4.iterrows():    
                if id_hoja2 == row4[0]:
                    if row3[1] == row4[1] and row3[2] == row4[2] and row3[3] == row4[3]:
                        print("precio_octanaje:",row4[4])   
                        precio_octanaje_vehiculo = row4[4]
        
            consumo_de_combustible = consumo_de_combustible + precio_octanaje_vehiculo * kilometraje/100
        
    print("consumo_de_combustible  gl. :", consumo_de_combustible)
    
    precio_de_combustible = consumo_de_combustible * precio_octanaje_vehiculo
    print("precio_de_combustible  PEN/SOL :", precio_de_combustible)
    
    sumatoria_precio_total = sumatoria_precio_total + precio_de_combustible
    
print("\sumatoria_precio_total PEN/SOL:",sumatoria_precio_total)

CAMIONETA NISSAN
2020 / 8 / 14
kilometraje: 500
precio_octanaje: 13.3
2020 / 8 / 15
kilometraje: 100
precio_octanaje: 14.0
consumo_de_combustible  gl. : 80.5
precio_de_combustible  PEN/SOL : 1127.0
AUTO TOYOTA COROLLA
2020 / 8 / 14
kilometraje: 50
precio_octanaje: 13.3
2020 / 8 / 15
kilometraje: 500
precio_octanaje: 14.0
consumo_de_combustible  gl. : 76.65
precio_de_combustible  PEN/SOL : 1073.1000000000001
CAMIONETA HYLUX TOYOTA
2020 / 8 / 14
kilometraje: 100
precio_octanaje: 16.6
2020 / 8 / 15
kilometraje: 150
precio_octanaje: 16.0
consumo_de_combustible  gl. : 40.6
precio_de_combustible  PEN/SOL : 649.6
PICK UP NISSAN NAVARA
2020 / 8 / 14
kilometraje: 1000
precio_octanaje: 16.6
2020 / 8 / 15
kilometraje: 0
precio_octanaje: 16.0
consumo_de_combustible  gl. : 166.0
precio_de_combustible  PEN/SOL : 2656.0
\sumatoria_precio_total PEN/SOL: 5505.700000000001